<div class="row">
  <div class="col-xs-9 col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">About Me</h3>
      </div>
      <div class="panel-body">
        <p>One spring morning, 6 years ago, I awoke in a tent in the Sierras and asked
        myself a question, "Before I end this moment, which fork do I wish to return to?"
        The answer was surprisingly simple, and since that day I've dedicated my efforts
        to achieving 4 things—write a book, become a teacher, become a trader,
        and return to programming.</p>

        <p>Coding is a thread through much of my life. I started teaching myself by creating
        video games in Basic and running a BBS.  Later on, I developed web pages for
        businesses I worked for and began teaching myself Java before deciding to
        formalize my education through a certificate program. Upon completion,
        I chose instead to pursue a few business opportunities that arose and fulfilling
        step one of the achievements that I set forth, becoming a self-directed trader.</p>

        <p>Now I am in the process of fulfilling step 2, returning to programming and becoming
        a Ruby Dev.  Realizing my skill set was insufficient for the current web space,
        I decided to into the cauldron by participating in an accelerator program.
        Now having been exposed to Rails, TDD/BDD, Github, Agile and Angular,
        I have the tools to succeed in modern web development.</p>
      </div>
    </div>
  </div>
</div>
